{% extends 'user/base.html' %}
{% load static %}
{% block main_content %}
  <!-- Main Content -->
  <main class="body-content">

    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper ms-auth">

      <div class="ms-auth-container">
        <div class="ms-auth-col">
          <div class="ms-auth-bg"></div>
        </div>
        <div class="ms-auth-col">
          <div class="ms-auth-form">
            <form class="needs-validation" method="post" action="{% url 'shop_new_password' %}" novalidate="">
              {% csrf_token %}
              <h3>New Password</h3>
              
              <div class="mb-2">
                
                <div class="input-group">
                  <input type="password" class="form-control" name="new_pass" id="validationCustom09" placeholder="Enter New Password" required="">
                  <div class="invalid-feedback">Please provide New Password.</div>
                </div>
              </div>
              
              <button class="btn btn-primary mt-4 d-block w-100" type="submit">Submit</button>
              
              
              <p class="mb-0 mt-3 text-center">Dont Change Password? <a class="btn-link" href="{% url 'logout' %}">Logout</a> </p>
            </form>

          </div>
        </div>
      </div>

    </div>

  </main>
{% endblock %}