{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
  <!-- Logo -->
  <div class="logo-sn ms-d-block-lg">
    <a class="pl-0 ml-0 text-center" href="#">
      <img src="{% static 'assets/img/costic/costic-logo-216x62.png' %} " alt="logo">
    </a>
  </div>
  <!-- Navigation -->

  </ul>
</aside>
<!-- Body Content Wrapper -->
<div class="ms-content-wrapper">
  {% if current_page in no_header_pages %}
  <!-- Navigation Bar -->
  <nav class="navbar ms-navbar">
      <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft"> <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
      </div>
      <div class="logo-sn logo-sm ms-d-block-sm">
        <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="index-2.html"><img src="assets/img/costic/costic-logo-84x41.png" alt="logo"> </a>
      </div>
      <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
        <!-- <li class="ms-nav-item ms-search-form pb-0 py-0">
          <form class="ms-form" method="post">
            <div class="ms-form-group my-0 mb-0 has-icon fs-14">
              <input type="search" class="ms-form-input" name="search" placeholder="Search here..." value=""> <i class="flaticon-search text-disabled"></i>
            </div>
          </form>
        </li> -->
        
        

        <li class="ms-nav-item ms-nav-user dropdown">
          <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="ms-user-img ms-img-round float-right" src="{% if user_data.ProfileImage %}{{user_data.ProfileImage.url}} {% else %}' %} ../uploads/shop.png {% endif %}" alt="people">
          </a>
          <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Welcome, {{user_data.FullName}}</span></h6>
            </li>
            
            
            <li class="dropdown-menu-footer">
              <a class="media fs-14 p-2" href="{% url 'change_password' %}"> <span><i class="flaticon-shut-down mr-2"></i> Change Password</span>
              </a>
            </li>
            <li class="dropdown-menu-footer">
              <a class="media fs-14 p-2" href="{% url 'logout_user' %}"> <span><i class="flaticon-shut-down mr-2"></i> Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options"> <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
      </div>
    </nav>
  {% endif %}
  <div class="ms-profile-overview">
    <div class="ms-profile-cover"><style>
      .profile_upload_form {
        position: relative;
      }
      .upload_label {
        background-color: crimson;
        position: absolute;
        bottom: -9px;
        right: 0;
        width: 30px;
        height: max-content;
        text-align: center;
        padding: 4px;
        color: aliceblue;
        cursor: pointer;
      }
    </style>
    <form action="{% url 'profile_upload' %}" method="post" class="profile_upload_form" onchange="this.submit()" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="profile_image" id="profile_image" class="d-none" accept=".jpg, .png" />
      <label for="profile_image" class="upload_label">
        <i class="flaticon-pencil"></i>
      </label>
      <img class="ms-profile-img" src="{% if user_data.ProfileImage %}{{user_data.ProfileImage.url}} {% else %}' %} ../uploads/shop.png {% endif %}" alt="people">
    </form>
    
      <div class="ms-profile-user-info">
        <h4 class="ms-profile-username text-white">{{user_data.Password}}</h4>
      </div>
    
    </div>
    
    <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
      <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"> Profile Page </a></li>
      
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="tab1">

      </div>
      <div class="tab-pane" id="tab2">

      </div>
      <div class="tab-pane" id="tab3">

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xl-7 col-md-12">
      <div class="ms-panel ms-panel-fh">
        <div class="ms-panel-body">
          <form method="post" action="{% url 'user_profile_update' %}" class="ms-panel-body needs-validation" novalidate>
            {% csrf_token %}
            <!-- <p>{{ user_data.Master.Email }}</p>  -->
            
            <p></p>
            <div class="form-row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="validationCustom01">Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Name" name="name" value="{{user_data.FullName}}" required>
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="validationCustom05">Contact Number</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="validationCustom05" name="contact" placeholder="Contact" value="{{user_data.Contact}}" required>
                    <div class="invalid-feedback">Please provide a valid zip.</div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="validationCustom01">Gender</label>
                  <div class="input-group m-0">
                    <ul class="ms-list d-flex">
                        
                      <li class="ms-list-item pl-0">
                        <label class="ms-checkbox-wrap">
                          <input type="radio" class="form-control" name="gender" value="m" {% if user_data.Gender == 'm' %} checked {% endif %}> <i class="ms-checkbox-check"></i>
                        </label> <span> male </span>
                      </li>
                      <li class="ms-list-item">
                        <label class="ms-checkbox-wrap">
                          <input type="radio" class="form-control" name="gender" value="f" {% if user_data.Gender == 'f' %} checked {% endif %}> <i class="ms-checkbox-check"></i>
                        </label> <span> female </span>
                      </li>
                    </ul>
                    <div class="valid-feedback">Looks good!</div>
                  </div>                
                </div>
                <div class="form-group">
                  <label for="validationCustom01">DOB</label>
                  <div class="input-group">
                    <input type="date" class="form-control" id="validationCustom01" placeholder="" name="dob" value="{{user_data.DOB}}" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please provide a valid DOB.</div>
                  </div>
                </div>                    
              </div>

              <div class="col-md-7">
                <div class="form-row">
                  
                    <div class="col-md-4">
                      <label for="validationCustom04">State</label>
                      
                      <div class="input-group">                        
                        <select name="state" class="form-control" id="validationCustom23"  required>
                          {% for s in state_items %}
                          <option  value="{{s.State}}">{{s.State}}</option>
                          {% endfor %}
                        </select>                      
                        <div class="invalid-feedback">
                          Please select a State
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="validationCustom04">City</label>
                      
                      <div class="input-group">                        
                        <select name="city" class="form-control" id="validationCustom23" required>
                          {% for c in city_items %}
                          <option  value="{{c.city}}">{{c.city}}</option>
                          {% endfor %}
                        </select>                      
                        <div class="invalid-feedback">
                          Please select a City
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-4">
                      <label for="validationCustom04">State</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom04" placeholder="State" name="state" value="{{user_data.State}}" required>
                        <div class="invalid-feedback">Please provide a valid state.</div>
                      </div>
                    </div> -->
                    <div class="col-md-4">
                      <label for="validationCustom05">Pincode</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom05" name="pincode" placeholder="Pincode" value="{{user_data.Pincode}}" required>
                        <div class="invalid-feedback">Please provide a valid zip.</div>
                      </div>
                    </div>
                    
                  
                </div>
                <div class="form-group">
                  <label for="exampleTextarea">Address</label>
                  <textarea class="form-control" id="exampleTextarea" name="address" rows="5" required>{{user_data.Address}}</textarea>
                  <div class="invalid-feedback">Please provide a valid address.</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <button class="btn btn-primary m-auto" type="submit">Save</button>
            </div>

          </form>

        

        </div>

      </div>
    </div>
    <div class="col-xl-5 col-md-12">
      <div class="ms-panel ms-panel-fh">
        <div class="ms-panel-body">
          
          <h2 class="section-title">Basic Information</h2>
          <table class="table ms-profile-information">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td>{{user_data.FullName}}</td>
              </tr>
              <tr>
                <th scope="row">Contact Number</th>
                <td>{{user_data.Contact}}</td>
              </tr>
              <tr>
                <th scope="row">Gender</th>
                <td>
                  {% if user_data.Gender == 'm' %} Male
                  {% elif user_data.Gender == 'f' %} Female
                  {% else  %} Female 
               
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th scope="row">D.O.B</th>
                <td>{{user_data.DOB}}</td>
              </tr>
              <tr>
                <th scope="row">City</th>
                <td>{{user_data.City}}</td>
              </tr>
              <tr>
                <th scope="row">State</th>
                <td>{{user_data.State}}</td>
              </tr>
              <tr>
                <th scope="row">Pincode</th>
                <td>{{user_data.Pincode}}</td>
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td>{{user_data.Address}}</td>
              </tr>
             
              <!-- {% for c in city_items %}
              <tr>
                <th scope="row">Address</th>
                <td>{{c.city}}</td>
                <td>{{c.State.State}}</td>
              </tr>
              {% endfor %} -->
            </tbody>
          </table>
      
        </div>
      </div>
    </div>

  </div>


</div>
{% endblock %}
{% block scripts %}
{% endblock %}